* {
    box-sizing: border-box;
}

.big-menu {
    margin: 0 auto;
    max-width: 1216px;
    border: 1px solid #eee;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 280px 1fr;
}

.big-menu__sidebar {
    border-right: 1px solid #eee;
}

.big-menu__content {
    padding: 47px;
}

.big-menu__sections {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    align-items: flex-start;
}

.big-menu-sub {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 48px;
}

.big-menu-sub_two {
    grid-template-columns: repeat(2, max-content);
}

.big-menu-sub_four {
    grid-template-columns: repeat(4, max-content);
}

.big-menu-sub_five {
    grid-template-columns: repeat(5, max-content);
}

.big-menu-sub__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.big-menu-sub__title {
    font-weight: 500;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.big-menu-brends__title {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.big-menu-sub__item {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.big-menu-brends {

}

.big-menu-brends__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.big-menu-brends__items_four {
    grid-template-columns: repeat(4, 1fr);
}


.big-menu-brends__items_five {
    grid-template-columns: repeat(5, 1fr);
}

.big-menu-brends__item {
    border: 1px solid #eee;
    padding: 10px;
    width: 104px;
    height: 104px;
}

.big-menu-brends__img {
    width: 100%;
    vertical-align: middle;
}