* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style-type: none;
}

.big-menu {
    margin: 0 auto;
    max-width: 1216px;
    display: grid;
    grid-template-columns: 280px 1fr;
}

.big-menu-sidebar {
    box-shadow: 0px 0px 3px rgba(61, 61, 78, 0.2);
    border-radius: 10px 0 0 10px;
}

.big-menu-sidebar-discount {
    text-decoration: none;
    display: grid;
    align-items: center;
    padding: 32px 0 20px 17px;
    column-gap: 10px;
    grid-template-columns: repeat(2, max-content);
}

.big-menu-sidebar-discount__text { 
    color: #C8003C;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
	line-height: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.big-menu-sidebar-discount__text:hover {
   border-bottom: 2px solid #C8003C;
}

.big-menu-sidebar-discount__image,
.big-menu-sidebar__image {
    max-width: 100%;
    object-fit: contain;
    max-height: 40px;
    min-width: 40px;
}

.big-menu-sidebar__items {
    padding: 0;
}

.big-menu-sidebar__item {
    padding: 18px;
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: repeat(2, max-content);
}

.big-menu-sidebar__item:hover {
    background: #F8F8FA;
}

.big-menu-sidebar__title {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2C2C38;
}
.big-menu-sidebar__title:hover {
    border-bottom: 2px solid #2C2C38;
}

.big-menu-sidebar__subtitle-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #707090;
}
.big-menu-sidebar__subtitle-link:hover {
    border-bottom: 2px solid #707090;
}

.big-menu__content {
    padding: 43px 32px 35px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 3px rgba(61, 61, 78, 0.2);
}

.big-menu-price {
    margin-bottom: 40px;
}

.big-menu-price__title {
    font-weight: 600;
    color: #2C2C38;
    padding-bottom: 20px;
    margin: 0;
}

.big-menu-price__items {
    display: flex;
}

.big-menu-price__item {
    margin-right: 16px;
}

.big-menu-price__link {
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 32px;
    background: #F5F5F7;
    color: #707090;
    padding: 8px 20px;
    text-align: center;
}

.big-menu__sections {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    align-items: flex-start;
}

.big-menu-sub {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 24px;
    column-gap: 64px;
}

.big-menu-sub_two {
    grid-template-columns: repeat(2, max-content);
}

.big-menu-sub_four {
    grid-template-columns: repeat(4, max-content);
}

.big-menu-sub_five {
    grid-template-columns: repeat(5, max-content);
}

.big-menu-sub__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.big-menu-sub__item:not(:first-child) {
    padding-top: 10px;
}

.big-menu-sub__link {
    text-decoration: none;
    color: #707090;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.big-menu-sub__link:hover {
    border-bottom: 2px solid #707090;
}

.big-menu-sub__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #2C2C38;
    padding-bottom: 20px;
    margin: 0;
}

.big-menu-brends__title {
    font-weight: 600;
    color: #2C2C38;
    margin: 0;
    padding-bottom: 20px;
}

.big-menu-brends__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.big-menu-brends__items_four {
    grid-template-columns: repeat(4, 1fr);
}


.big-menu-brends__items_five {
    grid-template-columns: repeat(5, 1fr);
}

.big-menu-brends__item {
    border: 1px solid #eee;
    padding: 10px;
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-menu-brends__img {
    width: 100%;
    vertical-align: middle;
} 

@media (min-width: 1440px) {
    .big-menu__content {
        border-radius: 0 10px 10px 0;
    }
}

@media (max-width: 1024px) {

    .big-menu {
        max-width: 992px;
    }

    .big-menu-price {
        margin-bottom: 32px;
    }
    .big-menu-price__filter {
        display: flex;
        flex-wrap: wrap;
    }
    .big-menu-price__btn {

        margin-right: 8px;
    }
    
    .big-menu-sub {
        grid-template-columns: repeat(2, max-content);
    }
    .big-menu-brends__items {
        grid-template-columns: repeat(2, max-content);
    }
}

/* @media (max-width: 800px) {
    .big-menu-sidebar__row {
        display: none;
    }
    
} */